

DirectoryIndex default.html

# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:benstrutt.space
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?benstrutt.space
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:benstrutt.space

RemoveHandler .html
AddType application/x-httpd-php .php .html
