:root {
  --color-palette-background1:#424242;
  --color-palette-background2:#212121;
  --color-palette-foreground:#BBBBBB;
  --color-palette-highlight:#F0F0F0;
}

html{
  height: 100%;
}

body{
  background-color: var(--color-palette-background1);
  font: 100% Helvetica;
  color: var(--color-palette-foreground);
  padding: 0;
  margin: 0;
  height: 100%;
}

p{
  margin: 0;
}

nav{
    background-color: var(--color-palette-background2);
    color: var(--color-palette-highlight);
    padding: 0;
    margin: 0;
    float: right;
    height: 100%;
}

nav ul{
  padding: 0;
  margin: 10px 20px 10px 20px;
  list-style-type: none;
}

nav ul#ExternalLinks{
  position: absolute;
  bottom: 0px;
}

nav a, a:visited{
    color: inherit;
}
