:root {
  --color-palette-background1:#424242;
  --color-palette-background2:#212121;
  --color-palette-selected-background:#313131;
  --color-palette-foreground:#BBBBBB;
  --color-palette-highlight:#F0F0F0;
}

html{
  height: 100%;
}

body{
  background-color: var(--color-palette-background1);
  font: 100% Helvetica;
  color: var(--color-palette-foreground);
  padding: 0;
  margin: 0;
  height: 100%;
}

p{
  text-align: left;
}

main{
  overflow: auto;
  margin-left: 80px;
  text-align: center;
  padding: 20px 10% 0px 10%;
}

section{
  margin-bottom: 50px;
}

h1.Warning{
  color: var(--color-palette-highlight);
}

a.Tag{
    color: var(--color-palette-highlight);
}

a.Tag:visited{
    color: var(--color-palette-foreground);
}

a.Link, a.Link:visited {
  color: var(--color-palette-highlight);
}

main ul{
  text-align: left;
  list-style: square;
}

nav{
    background-color: var(--color-palette-background2);
    color: var(--color-palette-highlight);
    padding: 0;
    margin: 0;
    position: fixed;
    float: left;
    height: 100%;
    width: 80px;
    text-align: center;
}

nav ul{
  position: absolute;
  width: inherit;
  margin: 0;
  padding: 5px 0 5px 0;
  list-style-type: none;
}

nav ul#InternalLinks{
  top: 0px;
}

nav ul#ExternalLinks{
  bottom: 0px;
}

nav li{
  padding: 5px;
}

nav a, a:visited{
  color: inherit;
  text-decoration:none;
}

ul.TagCloud{
  display: inline-block;
  list-style: none;
  padding: 0px;
}

ul.TagCloud li{
  display: inherit;
  margin: 20px;
}

ul.TagSearchResults{
  display: inline-block;
  list-style: none;
}

ul.TagSearchResults li{
  display: inherit;
  margin: 20px;
}

ul.TagSearchResults h1{
  text-align: center;
  font-size: 1em;
}

ul.TagSearchResults a{
  background-color: var(--color-palette-background2);
  border: 1px solid var(--color-palette-highlight);
  border-radius: 4px;
  color: var(--color-palette-foreground);
  display: inherit;
  padding: 10px;
}

ul.TagSearchResults a:hover{
  background-color: var(--color-palette-selected-background);
  color: var(--color-palette-highlight);
}
